body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #270b3b;
    background-image: linear-gradient(0deg, #270b3b 15%, #1059de 50%, #270b3b 85%);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-blend-mode: normal;
}


.navbar-expand .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

/*violet version
background-color: #5e198d;
background-image: linear-gradient(0deg, #5e198d 15%, #2B86C5 50%, #5e198d 85%);*/

