* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}
body {background-color: chartreuse;
    font-family:  serif;
}
hr {
    border: 0;
    margin-bottom: 4px;
    clear:both;
    display:block;
    width: 100%;
    background-color: black;
    height: 1px;
}

.nav-link.color-header {
    color: black;
    font-weight: bolder;



}
